.footer-borde-new{
    border: 3px solid #c78da5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontt{
   color: $bg-03;
}
.border-top-footer{
    border-top: 3px solid #c78da5;
    
}